// colors
$scissors-gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$paper-gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$rock-gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
$lizard-gradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
$radial-gradient: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);
$white: hsl(255, 100%, 100%);

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gradient-bg($gradient-color) {
    background-image: linear-gradient(#fff, #fff), $gradient-color;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: $white;
}

body {
    height: 100%;
    background: $radial-gradient no-repeat;
    background-size: 100% 100vh;
}

button:hover {
    cursor: pointer;
}

.container {
    @include flex-center;
    flex-direction: column;
    height: 100%;
}

.board {
    margin-top: 50px;
    width: 50%;
    border: 2px solid $header-outline;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 15px 25px;

    &__score {
        @include flex-center;
        background-color: $white;
        margin-left: auto;
        flex-direction: column;
        padding: 15px 40px;
        border-radius: 10px;

        & h5 {
            font-size: 20px;
            color: $score-text;
            letter-spacing: 0.1em;
        }

        & h1 {
            font-size: 58px;
            color: $dark-text;
        }
    }
}

.pentagon {
    margin-top: 100px;
    position: relative;

    &__icon {
        @include flex-center;
        width: 140px;
        height: 140px;
        background-color: $white;
        border-radius: 50%;
        border: 15px solid transparent;
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: inset 0 5px 3px rgba(0,0,0,0.5), 0 5px 3px rgba(255, 255, 255, 0.4);
        position: absolute;

        &:hover {
            cursor: pointer;
        }

        &--scissors {
            @include gradient-bg($scissors-gradient);
            top: -50px;
            left: 50%;
            transform: translate(-50%, 0);
        }

        &--paper {
            @include gradient-bg($paper-gradient);
            top: 50px;
            right: -20%;
        }

        &--rock {
            @include gradient-bg($rock-gradient);
            bottom: -50px;
            right: 0;
        }

        &--lizard {
            @include gradient-bg($lizard-gradient);
            bottom: -50px;
        }

        &--spock {
            @include gradient-bg($cyan);
            top: 50px;
            left: -20%;
        }
    }
}

.rules-btn {
    padding: 10px 35px;
    font-size: 20px;
    color: $white;
    letter-spacing: 0.15em;
    background: none;
    border: 2px solid $white;
    border-radius: 8px;
    position: absolute;
    right: 3%;
    bottom: 5%;
}

.rules {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);

    &__box {
        width: 400px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background-color: $white;
        padding: 30px;

        &__header {
            display: flex;
            align-items: center;

            & span {
                font-size: 30px;
                font-weight: 700;
                color: $dark-text;
            }

            & img {
                margin-left: auto;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &__image {
            margin: 20px 0;
        }
    }
}

.result {
    @include flex-center;

    &__container {
        display: flex;
        flex-direction: column;
        margin: 60px 30px 0;

        &__label {
            margin-bottom: 45px;
            font-weight: 600;
            font-size: 22px;
            letter-spacing: 0.1em;
            align-self: center;
        }

        &__empty-circle {
            width: 260px;
            height: 260px;
            border-radius: 50%;
            background-color: rgba(0,0,0,0.2);
        }

        &__icon {
            position: static;
            transform: none;
            width: 260px;
            height: 260px;
            border-width: 25px;
            
            &:hover {
                cursor: default;
            }

            & img {
                width: 50%;
            }
    
            &--win {
                z-index: -1;
                box-shadow: inset 0 5px 3px rgba(0,0,0,0.5), 
                        0 5px 3px rgba(255, 255, 255, 0.4), 
                        0 0 1px 30px hsla(214, 47%, 23%, 0.7),
                        0 0 1px 60px hsla(214, 47%, 23%, 0.5), 
                        0 0 1px 100px hsla(214, 47%, 23%, 0.3);
            }
        }
    }

    

    &__show {
        @include flex-center;
        flex-direction: column;
        margin: 80px 25px 0;

        & h1 {
            font-size: 56px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        & button {
            color: $dark-text;
            letter-spacing: 0.1em;
            font-size: 16px;
            border: none;
            border-radius: 10px;
            padding: 15px 40px;
        }
    }
}

@media (max-width: 375px) {
    .board {
        width: 90%;

        & img {
            width: 30%;
        }
    
        &__score {
            @include flex-center;
            background-color: $white;
            margin-left: auto;
            flex-direction: column;
            padding: 12px 25px;
            border-radius: 10px;
    
            & h5 {
                font-size: 14px;
            }
    
            & h1 {
                font-size: 38px;
            }
        }
    }

    .pentagon {
        @include flex-center;
        width: 100%;

        & > img:first-of-type {
            width: 70%;
        }
    

        &__icon {
            @include flex-center;
            width: 110px;
            height: 110px;
            border-width: 13px;

            & img {
                width: 50%;
            }
    
            &--paper {
                right: 5%;
            }
    
            &--rock {
                right: 15%;
            }
    
            &--lizard {
                left: 15%;
            }
    
            &--spock {
                left: 5%;
            }
        }
    }

    .rules-btn {
        left: 50%;
        bottom: 5%;
        transform: translate(-50%, 0);
    }

    .rules {
        &__box {
            @include flex-center;
            width: 100%;
            height: 100%;
    
            &__header {
                margin-bottom: 50px;

                & span {
                    font-size: 40px;
                }
    
                & img {
                    width: 30px;
                    position: absolute;
                    bottom: 8%;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
            }
    
            &__image {
                margin: 20px 0;
            }
        }
    }

    .result {
        flex-wrap: wrap;
    
        &__container {
            display: flex;
            flex-direction: column;
            margin: 60px 25px 0;
    
            &__label {
                order: 2;
                margin: 35px 0;
                font-size: 14px;
                letter-spacing: 0.1em;
            }
    
            &__empty-circle {
                width: 130px;
                height: 130px;
            }
    
            &__icon {
                width: 130px;
                height: 130px;
                border-width: 15px;
        
                &--win {
                    box-shadow: inset 0 5px 3px rgba(0,0,0,0.5), 
                            0 5px 3px rgba(255, 255, 255, 0.4), 
                            0 0 1px 25px hsla(214, 47%, 23%, 0.7),
                            0 0 1px 50px hsla(214, 47%, 23%, 0.5), 
                            0 0 1px 80px hsla(214, 47%, 23%, 0.3);
                }
            }
        }
    
        &__show {
            order: 3;
            margin: 10px 0;
    
            & h1 {
                font-size: 48px;
            }
    
            & button {
                padding: 15px 50px;
            }
        }
    }
}